{% extends "base.html" %}
{% load static %}

{% block title %}
    My Blog
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/post.css' %}">
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">
{% endblock %}

{% block content %}
<section id="welcome">
    <header>
        <img src="{% static "blog/images/pepe.webp" %}" alt="irfan - the author the Blog" />
        <h2>IRFAN's Blog</h2>
    </header>

    <p>Hi, iam Irfan and i love about tech and the world!</p>
</section>

<section id="latest-posts">
    <h2>My Latest Thoughts..</h2>
    <ul>
        {% for post in posts %} 
            {% include "blog/includes/post.html"%}
        {% endfor %}
    </ul>
</section>

<section id="about">
    <h2>What i Do</h2>
    <p>I love programming and pixel arts and linux systems :)</p>
    <p>Love learning new stuff in programming</p>
</section>
{% endblock %}
